<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0' name='viewport'>
        <link rel="stylesheet" href="stylesheets/application.css">
    </head>
    <body>
        <%- include modules/base/site-header.ejs %>
        <%- include modules/base/primary-nav.ejs %>
        <section class="site-section" data-behavior="stick-to-top">
            <%- include ui-patterns/base/tab-bar.ejs %>
            <article>
                <%- include ui-patterns/forms/buttons.ejs %>
                <%- include ui-patterns/forms/general-form.ejs %>
            </article>
        </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="javascripts/app.js"></script>
    <!-- This is only needed to run LiveReload, not needed for production -->
    <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
